body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input, button {
  width: 90%;
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background: #00ffcc;
  font-weight: bold;
  cursor: pointer;
}

li {
  background: white;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}